div {
    margin-bottom: 30px;
}

.exemplo {
    width: 300px;
    height: 300px;
    background-image: url('/background-element/images/background-note.jpg');
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(211, 211, 211, 0.575);
}

.exemplo-02 {
    background-color: rgba(211, 211, 211, 0.575);
    width: 300px;
    height: 300px;
    background-image: url('/background-element/images/background-note.jpg');
    background-size: 120px;
    background-position: center;
    background-repeat: repeat-x;
}

.exemplo-03 {
    background-color: lightgray;
    width: 300px;
    height: 300px;
    background-image: url('/background-element/images/background-note.jpg');
    background-size: 120px;
    background-position: center;
    background-repeat: repeat-y;
}

.exemplo-04 {
    background-color: lightgray;
    width: 300px;
    height: 300px;
    background-image: url('/background-element/images/background-note.jpg');
    background-size: 120px;
    background-repeat: space;
}

.exemplo-05 {
    background-color: lightgray;
    width: 300px;
    height: 300px;
    background-image: url('/background-element/images/background-note.jpg');
    background-size: 120px;
    background-repeat: round;
    background-position: center;
}

.exemplo-06 {
    background-color: lightgray;
    width: 300px;
    height: 300px;
    background-image: url('/background-element/images/background-note.jpg');
    background-size: 120px;
    background-repeat: repeat-x repeat-y;
    background-position: center;
}

/* 

Explicando os exemplos:

- background-repeat: repeat-x repete a imagem horizontalmente.

- background-repeat: repeat-y repete a imagem verticalmente.

- background-repeat: space repete a imagem horizontalmente, deixando espaço entre as repetições.

- background-repeat: no-repeat não repete a imagem.

- background-repeat: round repete a imagem redimensionada para que seja um círculo.

- background-repeat: repeat-x repeat-y repete a imagem horizontalmente e verticalmente, deixando espaço entre as repetições.
100% é o padrão, então não é necessário especificar nada para o background-repeat.

*/