#fill{
    width: 200px;
    height: 300px;
    border: 5px solid rgba(0, 0, 255, 0.425);
    object-fit: fill;
}

#contain {
    width: 200px;
    height: 300px;
    border: 5px solid rgba(0, 0, 255, 0.425);
    object-fit: contain;
}

#cover {
    width: 200px;
    height: 300px;
    border: 5px solid rgba(0, 0, 255, 0.425);
    object-fit: cover;
}

#none {
    width: 200px;
    height: 300px;
    border: 5px solid rgba(0, 0, 255, 0.425);
    object-fit: none;
}